<div class="fixed inset-x-0 z-50 flex px-4 py-3 text-3xl md:inset-y-0 md:w-64 md:block bg-primary-300 md:overflow-scroll z-index99">
  <label for="hamburger" class="md:hidden"><i class="fa-solid fa-bars"></i></label>
  <%= link_to edit_owner_schools_path do  %>
    <div class="hidden w-24 h-24 mx-auto my-8 overflow-hidden rounded-full md:block">
      <% if current_teacher.logo.attached? %>
        <%= image_tag url_for(current_teacher.logo), class: "w-24 h-24 object-cover", data: { image_label_target: "preview" } %>
      <% else %>
      <div class="flex items-center justify-center w-24 h-24 overflow-hidden bg-gray-300 rounded-full" data-image-label-target="fakeImg">
          <i class="text-5xl fa-solid fa-school"></i>
      </div>
      <img class="hidden object-cover w-24 h-24" data-image-label-target="preview">
      <% end %>
    </div>
  <% end %>
  <%= link_to owner_courses_path, class: "mx-auto hover:bg-primary-100 " do %>
    <h1 class="text-center truncate"><%= current_teacher.school_name %></h1>
    <h1 class="text-center">school</h1>
  <% end %>
  <input type="checkbox" id="hamburger" class="hidden" />
  <ul class="absolute w-64 h-screen overflow-y-scroll transition-all duration-500 top-full -left-full md:top-60 md:left-0 bg-primary-300 sidebar-list md:overflow-y-hidden">
    <li class="mx-4 mt-10">
      <%= link_to owner_courses_path, data: { sidebar_style_target: "courses" } do %>
        <i class="fa-solid fa-book-open"></i>全部課程
      <% end %>
      <%= yield :course %>
    </li>
    <li class="mx-4">
      <%= link_to owner_comments_path, data: { sidebar_style_target: "comments" } do %>
        <i class="fa-solid fa-comments"></i>所有留言
      <% end %>
    </li>
    <li class="mx-4">
      <%= link_to owner_lecturers_path, data: { sidebar_style_target: "lecturers" } do %>
        <i class="fa-solid fa-chalkboard-user"></i>講師名單
      <% end %>
      <%= yield :lecturer %>
    </li>
    <li class="mx-4">
      <%= link_to owner_students_path, data: { sidebar_style_target: "users" } do %>
        <i class="fa-solid fa-user-group"></i>學生管理
      <% end %>
      <%= yield :user %>
    </li>
    <li class="mx-4">
      <%= link_to owner_orders_path, data: { sidebar_style_target: "orders" } do %>
        <i class="mr-1 fa-solid fa-cart-shopping"></i>訂單管理
      <% end %>
    </li>
    <li class="mx-4">
      <%= link_to edit_owner_schools_path do %>
        <i class="pr-1 fa-solid fa-gear"></i>設定
      <% end %>
    </li>
    <li class="bottom-0 mx-4 mt-6 border-t border-black">
      <%= link_to owner_preview_path, target: "_blank" do %>
        <i class="fa-solid fa-house"></i>預覽首頁
      <% end %>
    </li>
    <li class="mx-4">
      <%= link_to teacher_auto_sign_out_path, method: :delete do %>
        <i class="pr-1 fa-solid fa-right-from-bracket"></i>登出
      <% end %>
    </li>
  </ul>
</div>

