<div class="relative min-h-screen pt-10 owner-main-container">
  <div class="w-11/12 mx-auto">
    <%= form_with(model: @teacher, url: owner_schools_path ) do |form| %>
      <div class="flex items-center justify-between">
        <h1 class="inline-block my-4 text-4xl font-extrabold text-primary-300">會員資訊</h1>
        <%= render "shared/flash" %>
        <div>
          <%= form.button class: "owner-course-btn" do %>
            <i class="mr-4 fa-solid fa-arrow-rotate-right"></i>更新資訊
          <% end %>
        </div>  
      </div>
      <div class="">
        <div class="self-start p-8 bg-white rounded">
          <div class="mb-4 lg:flex lg:items-center lg:mb-0">
            <div class="flex-shrink-0 w-40 h-40 mx-auto mb-8 overflow-hidden rounded-full lg:mb-0 lg:mx-4 field" data-controller="image-label">
              <%= form.label :avatar, class: "avatar-label relative block w-40 h-40 rounded-full overflow-hidden cursor-pointer" do %>
                <div class="absolute inset-0 w-40 h-40 mx-auto text-white">
                  <% if @teacher.avatar.attached? %>
                    <%= image_tag url_for(@teacher.avatar), class: "w-40 h-40 object-cover", data: { image_label_target: "preview" } %>
                  <% else %>
                    <div class="flex items-center justify-center w-40 h-40 overflow-hidden bg-gray-300 rounded-full" data-image-label-target="fakeImg">
                      <i class="text-6xl fa-solid fa-user"></i>
                    </div>
                    <img src="" class="hidden object-cover w-40 h-40" data-image-label-target="preview">
                  <% end %>
                </div>
              <% end %>
              <%= form.file_field :avatar, class: "hidden", data: { action: "change->image-label#loadImg", image_label_target: "fileInput" } %>
            </div>
            <div>
              <div class="flex items-center mb-4">
                <%= form.label :username, "學生姓名", class: "flex-shrink-0 mr-4" %>
                <%= form.text_field :username %>
              </div>
              <div class="flex items-center mb-4">
                <%= form.label :email, "學生信箱", class: "flex-shrink-0 mr-4" %>
                <%= form.email_field :email %>
              </div>
              <div class="flex items-center mb-4">
                <%= form.label :school_name, "學校名稱", class: "flex-shrink-0 mr-4" %>
                <%= form.text_field :school_name %>
              </div>
              <div class="flex items-center mb-4">
                <%= form.label :subdomain, "抖面", class: "flex-shrink-0 mr-4" %>
                <%= form.text_field :subdomain %>
              </div>
              <div class="flex items-center mb-4">
                <%= form.label :logo, "logo", class: "flex-shrink-0 mr-4" %>
                <%= form.file_field :logo %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
        <div class="md:w-1/2 md:ml-2">

        </div>
      </div>
  </div>
</div>














































<div class="relative min-h-screen pt-10 owner-main-container">
  <div class="w-11/12 mx-auto">
		<div class="flex items-center w-full h-16 mt-4">
			<h1 class="inline-block my-4 text-4xl font-extrabold text-primary-300">學校名稱</h1>
			<div class="w-1/3 mx-4 mr-auto">
				<%= render "shared/flash" %>
			</div>
		</div>
    <div>
      <%= form_with(model: @teacher, url: owner_schools_path ) do |form| %>
        <%= form.label :username %>
        <%= form.text_field :username %>
        
        <%= form.label :email %>
        <%= form.text_field :email %>
        
        <%= form.label :school_name %>
        <%= form.text_field :school_name %>
        
        <%= form.label :avatar %>
        <%= form.file_field :avatar %>
        
        <%= form.label :logo %>
        <%= form.file_field :logo %>
        
        <%= form.label :subdomain %>
        <%= form.text_field :subdomain %>

        <%= form.submit %>
      <% end %> 
    </div>
	</div>
</div>