<div class="teacher-member">
  <div class="container p-4 mx-auto">
    <div class="teacher-member-form">
      <h2 class="teacher-member-form-title">修改密碼</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :username, "使用者名稱" %>
          <%= f.text_field :username, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :email %>
          <%= f.email_field :email, autocomplete: "email", placeholder: "請輸入電子信箱" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>
            <%= t('.currently_waiting_confirmation_for_email', email: resource.unconfirmed_email) %>
          </div>
        <% end %>

        <div class="field">
          <%= f.label :current_password %>
          <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "請輸入原始密碼" %>
        </div>

        <div class="field">
          <%= f.label :password, "新密碼" %>
          <% if @minimum_password_length %>
            <span><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></span>
          <% end %>
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "請輸入新密碼" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "再次輸入新密碼" %>
        </div>
        
        <%= f.submit t('.update') %>
      <% end %>
    </div>
  </div>  
</div>
