<div class="fixed inset-x-0 flex px-4 py-3 text-3xl md:inset-y-0 md:w-64 md:block bg-primary-300 md:overflow-scroll">
  <label for="hamburger" class="md:hidden"><i class="fa-solid fa-bars"></i></label>
  <div class="hidden w-24 h-24 mx-auto my-8 overflow-hidden rounded-full md:block">
    <%= image_tag url_for(current_user.avatar), class: "w-full h-full object-cover" if current_user.avatar.attached? %>
  </div>
  <%= link_to owner_courses_path, class: "mx-auto hover:bg-primary-100" do %>
    <h1 class="text-center whitespace-nowrap"><%= current_user.username %>'s school</h1>
  <% end %>
  <input type="checkbox" id="hamburger" class="hidden hamburger" />
  <ul class="absolute w-64 h-screen overflow-y-scroll transition-all duration-500 top-full -left-full md:top-56 md:left-0 bg-primary-300 sidebar-list md:overflow-y-hidden">
    <li class="mx-4 mt-10">
      <%= link_to owner_courses_path do %>
        <i class="fa-solid fa-book-open"></i>全部課程
      <% end %>
      <%= yield :course %>
    </li>
    <li class="mx-4">
      <%= link_to owner_comments_path do %>
        <i class="fa-solid fa-book-open"></i>所有留言
      <% end %>
    </li>
    <li class="mx-4">
      <%= link_to owner_lecturers_path do %>
        <i class="fa-solid fa-chalkboard-user"></i>講師名單
      <% end %>
      <%= yield :lecturer %>
    </li>
    <li class="mx-4">
      <%= link_to owner_users_path do %>
        <i class="fa-solid fa-user-group"></i>學生管理
      <% end %>
      <%= yield :user %>
    </li>
    <li class="mx-4">
      <%= link_to owner_orders_path do %>
        <i class="pr-1 fa-solid fa-cart-shopping"></i>授課管理
      <% end %>
    </li>
    <li class="mx-4">
      <%= link_to "#" do %>
        <i class="pr-1 fa-solid fa-gear"></i>設定
      <% end %>
    </li>
    <li class="bottom-0 mx-4 mt-6 border-t border-black">
      <%= link_to "/" do %>
        <i class="fa-solid fa-house"></i>學校首頁
      <% end %>
    </li>
  </ul>
</div>

