<div class="owner-main-container" data-controller="ajaxForm">
  <div class="w-11/12 mx-auto">
		<div class="owner-title">
			<h1 class="inline-block my-4 text-4xl font-extrabold text-primary-300">會員列表</h1>
			<div class="w-1/3 mx-4 mr-auto">
				<%= render "shared/flash" %>
			</div>
				<button class="owner-course-btn" data-action="click->ajaxForm#toggle"> + 新增學生</button>
		</div>
		<div class="owner-table-container">
			<table class="mt-6 overflow-hidden rounded-md shadow-md owner-table">
				<thead class="owner-thead">
					<tr>
						<th class="text-left owner-text">學生姓名</th>
						<th class="text-center owner-text">Email</th>
						<th class="text-center owner-text">購課數</th>
						<th class="text-center owner-text">總金額</th>
					</tr>
				</thead>
				<tbody class="owner-tbody">
					<%= render @students %>
				</tbody>
			</table>
		</div>
		<div class="hidden mx-auto my-20" data-ajaxForm-target="form">
			<%= form_with(scope: "student", url: owner_students_path, method: :post) do |form| %>
				<div class="p-8 border border-gray-300 rounded bg-secondary-200">
					<div class="lg:flex items-center">
						<%= form.label :username, "學生姓名", class: "lg:mr-4" %>
						<%= form.text_field :username, maxlength: 20, class: "lg:w-1/4", data: { ajaxForm_target: "input" }, placeholder: "輸入姓名" %>

						<%= form.label :email, "Email", class: "lg:mx-4" %>
						<%= form.text_field :email, class: "lg:w-1/4 ", data: { ajaxForm_target: "input" }, placeholder: "輸入Email" %>
						<%= form.button class: "owner-course-btn flex items-center lg:ml-5", data: { action: "submit->ajaxForm#send"} do %>

						<%= form.hidden_field :password, maxlength: 20, class: "lg:w-1/4 ", data: { ajaxForm_target: "input" }, value: "000000" %>
							<i class="mr-4 fa-solid fa-circle-check"></i>新增
						<% end %>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>
