<%= content_for :course do %>
  <ul class="sidebar-list">
    <li>
      <%= link_to information_owner_course_path(@course) do %>
        <i class="font-medium fa-solid fa-greater-than"></i>課程內容
      <% end %>
    </li>
    <li>
      <%= link_to curriculum_owner_course_path(@course) do %>
        <i class="font-medium fa-solid fa-greater-than"></i>章節內容
      <% end %>
    </li>
  </ul>
<% end %>
<div class="relative min-h-screen pt-10 owner-main-container" data-controller="ajaxForm">
  <div class="w-11/12 mx-auto">
		<div class="flex items-center w-full h-16 mt-4">
			<h1 class="inline-block my-4 text-4xl font-extrabold text-primary-300">課程章節</h1> 
				<div class="w-1/3 mx-4 mr-auto">
					<%= render "shared/flash" %>
				</div>
					<button class="owner-course-btn" data-action="click->ajaxForm#toggle"> + 新增章節</button>
		</div>
	<div>
	<% @chapters.each do |chapter| %>
		<div class="mt-10 overflow-hidden rounded-sm shadow-md owner-table">
			<div class="owner-thead">
				<div class="flex items-center justify-between owner-text">
					<%= link_to chapter.title, edit_owner_course_chapter_path(chapter.course, chapter), class: "text-lg underline hover:text-primary-500" %>
					<%= link_to owner_course_chapter_path(chapter.course_id, chapter), method: "delete", data: { confirm: "確定刪除章節嗎？"}, class: "block p-2 text-red-400 hover:text-red-600" do %>
						<svg xmlns="http://www.w3./2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
						</svg>
					<% end %>
				</div>
			</div>
			<% chapter.sections.each do |section| %>
				<div class="flex items-center border-b border-gray-300 owner-text">
					<%= link_to section.title, edit_owner_course_section_path(@course, section), class: "flex-grow mr-auto text-primary-500 underline hover:text-primary-300" %>
					<div class="flex items-center justify-center text-center">
						<div class="mr-2 w-18">
							<span class="tag <%= section.published == "publish" ? "tag-publish" : "tag-draft" %>">
								<%= section.published == "publish" ? "發佈" : "草稿" %>
							</span>
						</div>
						<%= link_to owner_course_section_path(@course, section), method: "delete", data: { confirm: "確定刪除章節嗎？"}, class: "block p-2 text-red-400 hover:text-red-600" do %>
							<svg xmlns="http://www.w3./2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6">
								<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
							</svg>
						<% end %>
					</div>
				</div>
			<% end %>
			<div class="py-4 text-primary-500">
				<%= link_to "+ 新增小節", new_owner_course_chapter_section_path(@course, chapter), class:"inline-block px-4 py-2 ml-3 border border-primary-300 rounded-md hover:text-primary-100 hover:bg-primary-200 transition" %>
			</div>
		</div>
	<% end %>
  <div class="hidden mx-auto my-20" data-ajaxForm-target="form">
		<%= form_with scope: "chapter", url: owner_course_chapters_path(@course) do |form| %>
			<div class="p-8 border border-gray-300 rounded bg-secondary-200">
				<div class="flex items-center mb-4">	
					<%= form.label :title, "標題", class: "mr-4" %>
					<%= form.text_field :title, maxlength: 20, class: "w-1/3", data: { ajaxForm_target: "input" }, placeholder: "輸入章節名" %>
					<%= form.button class: "owner-course-btn flex items-center ml-5", data: { action: "submit->ajaxForm#send"} do %>
						<i class="mr-4 fa-solid fa-circle-check"></i>新增
					<% end %>
				</div>
			</div>
		<% end %>
	</div>
<div>
