<nav class="home-nav md:container sm:px-6 md:mx-auto flex items-center" data-controller="navbar">
  <%= link_to root_path, class: "logo" do %>
    <%= image_tag "logo/logo-icon", class:"xs:hidden h-full p-2" %>
    <%= image_tag "logo/logo", class:"hidden xs:block h-full pt-2" %>
  <% end %>
  <%# navbar of mobile straight %>
  <% if teacher_signed_in? %>
    <button class="absolute right-4 flex sm:hidden justify-center items-center w-8 h-8 bg-gray-300 overflow-hidden rounded-full" data-action="click->navbar#toggleNavList">
      <% if current_teacher.avatar.attached? %>
        <%= image_tag url_for(teacher.avatar) %>
      <% else %>
        <i class="fa-solid fa-user"></i>
      <% end %>
    </button>
    <ul class="login-area admin fade fade-out absolute top-full inset-x-0 sm:hidden" data-navbar-target="navList">
      <li><%= link_to '進入後台', new_registration_path(:teacher) %></li>
      <li><%= link_to '登出', destroy_teacher_session_path, method: "delete" %></li>
    </ul>
  <% else %>
    <button class="absolute right-4 sm:hidden" data-action="click->navbar#toggleNavList">
      <div class="flex items-center justify-center w-8 h-8 text-2xl">
        <i class="fa-solid fa-bars"></i>
      </div>
    </button>
    <ul class="login-area admin fade fade-out absolute top-full inset-x-0" data-navbar-target="navList">
      <li><%= link_to '免費體驗', new_registration_path(:teacher) %></li>
      <li><%= link_to '登入', new_session_path(:teacher) %></li>
    </ul>
  <% end %>
  <%# navbar of mobile horizontal & up %>
  <% if teacher_signed_in? %>
    <button class="hidden sm:block w-8 h-8 bg-gray-300 overflow-hidden rounded-full" data-action="click->navbar#toggleDropdownList">
      <% if current_teacher.avatar.attached? %>
        <%= image_tag url_for(teacher.avatar) %>
      <% else %>
        <i class="fa-solid fa-user"></i>
      <% end %>
    </button>
    <ul class="login-area admin absolute top-full hidden right-4 w-40 mt-4 rounded overflow-hidden" data-navbar-target="dropdownList">
      <li><%= link_to '進入後台', back_url(subdomain: current_teacher.subdomain) %></li>
      <li><%= link_to '登出', destroy_teacher_session_path, method: "delete" %></li>
    </ul>
  <% else %>
    <ul class="login-area admin hidden sm:flex">
      <li><%= link_to '免費體驗', new_registration_path(:teacher), class: "md:mr-2" %></li>
      <li><%= link_to '登入', new_session_path(:teacher), class: "md:mr-2" %></li>
    </ul>
  <% end %>
</nav>