<nav class="flex items-center home-nav md:container sm:px-6 md:mx-auto" data-controller="navbar">
  <%= link_to root_path, class: "logo" do %>
    <%= image_tag "logo/logo-icon", class:"xs:hidden h-full p-2" %>
    <%= image_tag "logo/logo", class:"hidden xs:block h-full pt-2" %>
  <% end %>
  <%# navbar of mobile straight %>
  <% if teacher_signed_in? %>
    <button class="absolute flex items-center justify-center w-8 h-8 overflow-hidden bg-gray-300 rounded-full right-4 sm:hidden" data-action="click->navbar#toggleNavList">
      <% if current_teacher.avatar.attached? %>
        <%= image_tag url_for(current_teacher.avatar) %>
      <% else %>
        <i class="fa-solid fa-user"></i>
      <% end %>
    </button>
    <ul class="absolute inset-x-0 login-area admin fade fade-out top-full sm:hidden" data-navbar-target="navList">
      <li><%= link_to '進入後台', teacher_auto_sign_in_url(subdomain: current_teacher.subdomain) %></li>
      <li><%= link_to '登出', destroy_teacher_session_path, method: "delete" %></li>
    </ul>
  <% else %>
    <button class="absolute right-4 sm:hidden" data-action="click->navbar#toggleNavList">
      <div class="flex items-center justify-center w-8 h-8 text-2xl">
        <i class="fa-solid fa-bars"></i>
      </div>
    </button>
    <ul class="absolute inset-x-0 login-area admin fade fade-out top-full" data-navbar-target="navList">
      <li><%= link_to '免費體驗', new_registration_path(:teacher) %></li>
      <li><%= link_to '登入', new_session_path(:teacher) %></li>
    </ul>
  <% end %>
  <%# navbar of mobile horizontal & up %>
  <% if teacher_signed_in? %>
    <button class="hidden w-8 h-8 overflow-hidden bg-gray-300 rounded-full sm:block" data-action="click->navbar#toggleDropdownList">
      <% if current_teacher.avatar.attached? %>
        <%= image_tag url_for(current_teacher.avatar) %>
      <% else %>
        <i class="fa-solid fa-user"></i>
      <% end %>
    </button>
    <ul class="absolute hidden w-40 mt-4 overflow-hidden rounded login-area admin top-full right-4" data-navbar-target="dropdownList">
      <li><%= link_to '進入後台', teacher_auto_sign_in_url(subdomain: current_teacher.subdomain) %></li>
      <li><%= link_to '登出', destroy_teacher_session_path, method: "delete" %></li>
    </ul>
  <% else %>
    <ul class="hidden login-area admin sm:flex">
      <li><%= link_to '免費體驗', new_registration_path(:teacher), class: "md:mr-2" %></li>
      <li><%= link_to '登入', new_session_path(:teacher), class: "md:mr-2" %></li>
    </ul>
  <% end %>
</nav>