<nav class="md:container md:flex md:mx-auto" data-controller="hamburger" data-hamburger-show-value="false" data-action="resize@window->hamburger#layout">
  <div class="flex items-center md:mr-auto">
    <%= link_to root_path, class: "logo ml-auto mr-auto pt-2" do %>
      <%= image_tag "logo", class: "h-full" %>
    <% end %>
    <button class="p-1 mr-4 md:hidden" data-hamburger-target="button" data-action="click->hamburger#toggleNavBar">
      <div class="w-7 h-0.5 my-1 bg-white"></div>
      <div class="w-7 h-0.5 my-2 bg-white"></div>
      <div class="w-7 h-0.5 my-1 bg-white"></div>
    </button>
  </div>
    
  <ul class="text-center md:flex md:max-h-full login-area" data-hamburger-target="navbar">
    <li>
      <%= link_to "所有課程", courses_path %>
    </li>
    <li>
      <%= link_to "我的課程", orders_path %>
    </li>
    <% if current_student %>
      <li><%= link_to '登出', destroy_student_session_path, method: :delete %></li>
      <li><%= link_to '修改密碼', edit_registration_path(:student) %></li>
    <% else %>
      <li><%= link_to '註冊', new_registration_path(:student) %></li>
      <li><%= link_to '登入', new_session_path(:student) %></li>
    <% end %>
  </ul>
</nav>