<%= content_for :header do %>
  <nav class="flex justify-between flex-grow mx-auto text-white" data-controller="navbar">
    <%= link_to 'javascript:history.back()', class: "flex items-center md:ml-20 ml-8 py-4 left-arrow text-xl" do %>
      <i class="mr-4 fa-solid fa-angle-left"></i>
      <span>上一頁</span>
    <% end %>
    <button class="relative mr-20 md:block" data-action="click->navbar#toggleDropdownList">
      <div class="w-10 h-10 overflow-hidden rounded-full">
        <% if current_student.avatar.attached? %>
          <%= image_tag url_for(current_student.avatar), class: "w-full h-full object-cover" %>
        <% else %>
          <div class="flex items-center justify-center w-10 h-10 overflow-hidden bg-gray-300 rounded-full" data-image-label-target="fakeImg">
            <i class="text-lg fa-solid fa-user"></i>
          </div> 
        <% end %>
      </div>
    </button>
    <ul class="absolute top-full -right-12 mt-4 hidden overflow-hidden rounded-md shadow-md bg-secondary-400" data-navbar-target="dropdownList">
      <li><%= link_to "我的課程", orders_path %></li>
      <li><%= link_to "登出", students_log_out_path, method: :delete %></li>
    </ul>
  </nav>
<% end %>

<%= content_for :sidebar do %>
  <nav class="hidden md:block absolute left-0 right-0 z-10 flex-shrink-0 overflow-scroll bg-white section-dropdown md:relative md:w-64 lg:w-72 md:max-h-screen">
    <div class="w-full h-72">
      <%= image_tag url_for(@course.image), class: "w-full h-full object-cover" if @course.image.attached? %>
    </div>
    <div class="mt-4 shadow">
      <h1 class="text-xl font-bold text-center"><%= @course.title %></h1>
      <div class="px-4 my-4 text-center">
        <div class="relative h-3 border rounded-full progress-bar" data-section-list-target="progressBar" data-progressBar=<%= @rate %> data-action="sendWidth@document->section-list#setWidth"></div>
        <span class="inline-block my-3">已完成<span class="ml-4" data-section-list-target="progress"><%= @rate %>%</span></span>
      </div>
    </div>
    <ul class="text-xl">
      <li class="hidden">no used</li>
      <li class="relative transition bg-secondary-200 text-secondary-500 hover:bg-secondary-300">
        <%= link_to order_path(@order), class: "block pl-4 py-3" do %>
          <i class="mr-3 fa-solid fa-table-list"></i>課程大綱
        <% end %>
      </li>
    </ul>
  </nav>
<% end %>

<section class="relative flex flex-grow h-screen px-5 pt-5 overflow-scroll border-l">
  <div class="container mx-auto">
    <h1 class="mb-4 text-3xl text-primary-300">課程大綱</h1>
      <%= render partial: "chapter", collection: @chapters %>
  </div>
</section>
