<section>
  <div class="md:container md:mx-auto pt-4">
    <div class="fixed z-40 transform -translate-x-1/2 left-1/2">
      <%= render "shared/flash" %>
    </div> 
    <div class="sm:flex sm:flex-row-reverse pt-12 lg:pt-0">
      <div class="px-8 text-primary-300 lg:w-2/5 lg:flex lg:flex-col lg:justify-center lg:items-start">
        <h1 class="mb-12 text-5xl leading-tight"><span class="font-black">Share</span> What You <span class="text-secondary-400 font-black">Know</span>.</h1>
        <p class="mb-8 text-xl">分享你的知識，打造屬於你自己的專屬平台吧！</p>
        <div class="relative">
        <%= link_to "Let's GO!!!", new_teacher_session_path, class: "inline-block px-6 py-3 bg-secondary-400 hover:bg-secondary-300 text-white hover:text-secondary-500 rounded-md" unless teacher_signed_in? %>
        <div class="size absolute">
          <%= image_tag "aircraft" %>
          <div class="dot" style="--i: 1"></div>
          <div class="dot" style="--i: 2"></div>
          <div class="dot" style="--i: 3"></div>
        </div>
        </div>
      </div>
      <div class="lg:w-3/5">
        <%= image_tag "pic_2", class: "w-full h-full object-cover"%>
      </div>
    </div>
  </div>
</section>
<section class="home-information">
  <div class="container px-8 mx-auto my-16">
    <div class="md:flex md:items-center">
      <div class="mx-8 my-4 overflow-hidden home-information-img md:w-1/2">
        <%= image_tag "pic_5", class: "h-full object-cover" %>
      </div>
      <div class="px-2 mx-8 md:w-1/2">
        <h2 class="mb-4 text-3xl text-primary-300">輕鬆架設線上課程網站</h2>
        <p class="mb-4 text-xl">透過簡單的介面，快速建立自己的教學網站，輕鬆架設線上課程，前台與後台兩種不同的介面樣式，方便使用者切換檢視，不易混淆。</p>
      </div>
    </div>
  </div>
  <div class="container px-8 mx-auto my-16">
    <div class="md:flex md:items-center">
      <div class="mx-8 my-4 overflow-hidden home-information-img md:w-1/2">
        <%= image_tag "pic_4", class: "h-full object-cover" %>
      </div>
      <div class="px-2 mx-8 md:w-1/2">
        <h2 class="mb-4 text-3xl text-primary-300">專屬於自己的網址</h2>
        <p class="mb-4 text-xl">註冊帳號後馬上擁有自己的獨立的課程網站平台，不需要與其他創作者共享網址。專屬於你的課程平台。</p>
      </div>
    </div>
  </div>
  <div class="container px-8 mx-auto my-16">
    <div class="md:flex md:items-center">
      <div class="mx-8 my-4 overflow-hidden home-information-img md:w-1/2">
        <%= image_tag "pic_1", class: "h-full object-cover" %>
      </div>
      <div class="px-2 mx-8 md:w-1/2">
        <h2 class="mb-4 text-3xl text-primary-300">學生用戶及訂單</h2>
        <p class="mb-4 text-xl">管理自己的學生用戶與訂單，學生透過使用者建立的教學網站登入，讓使用者可以輕鬆控管學生購買的狀況以及訂單資訊。</p>
      </div>
    </div>
  </div>
</section>