<section>
  <div class="fixed z-40 transform -translate-x-1/2 left-1/2">
    <%= render "shared/flash" %>
  </div>
  <div class="relative banner-bg">
    <%= image_tag "pic_3", class: "w-full h-full object-cover"%>
    <div class="absolute z-10 text-white transform -translate-y-1/2 md:w-1/2 lg:w-2/5 top-1/2 left-8 right-8 lg:left-20">
      <h1 class="mb-8 text-4xl">線上教學平台架設打造屬於自己的線上教學網站</h1>
      <p class="mb-8 text-xl">打造自己的知識型電商平台：
      線上課程、會員管理、不論是個人或是學校團體，都能用 TeacherFly 實現自己的教學電商平台</p>
      <%# link_to "馬上註冊成為會員", new_user_session_path, class: "px-6 py-3 bg-secondary-400 hover:bg-secondary-300 hover:text-secondary-500 rounded-md" unless current_user %>
    </div>
    <div class="absolute top-0 bottom-0 left-0 right-0 banner-gradient"></div>
  </div>
</section>
<section class="home-information">
  <div class="container px-8 mx-auto my-16">
    <div class="md:flex md:items-center">
      <div class="mx-8 my-4 overflow-hidden home-information-img md:w-1/2">
        <%= image_tag "pic_5", class: "h-full object-cover" %>
      </div>
      <div class="px-2 mx-8 md:w-1/2">
        <h2 class="mb-4 text-2xl">輕鬆架設線上課程網站</h2>
        <p class="mb-4 text-xl">註冊帳號後馬上擁有自己的獨立的課程網站，註冊帳號後馬上擁有自己的獨立的課程網站，註冊帳號後馬上擁有自己的獨立的課程網站，</p>
        <ul>
          <li class="py-3"><i class="text-white bg-red-600 rounded-full fa-solid fa-circle-check"></i>第一點</li>
          <li  class="py-3"><i class="text-white bg-red-600 rounded-full fa-solid fa-circle-check"></i>第二點</li>
          <li  class="py-3"><i class="text-white bg-red-600 rounded-full fa-solid fa-circle-check"></i>第三點</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container px-8 mx-auto my-16">
    <div class="md:flex md:items-center">
      <div class="mx-8 my-4 overflow-hidden home-information-img md:w-1/2">
        <%= image_tag "pic_4", class: "h-full object-cover" %>
      </div>
      <div class="px-2 mx-8 md:w-1/2">
        <h2 class="mb-4 text-2xl">輕鬆架設線上課程網站</h2>
        <p class="mb-4 text-xl">註冊帳號後馬上擁有自己的獨立的課程網站，註冊帳號後馬上擁有自己的獨立的課程網站，註冊帳號後馬上擁有自己的獨立的課程網站，</p>
        <ul>
          <li class="py-3"><i class="text-white bg-red-600 rounded-full fa-solid fa-circle-check"></i>第一點</li>
          <li  class="py-3"><i class="text-white bg-red-600 rounded-full fa-solid fa-circle-check"></i>第二點</li>
          <li  class="py-3"><i class="text-white bg-red-600 rounded-full fa-solid fa-circle-check"></i>第三點</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container px-8 mx-auto my-16">
    <div class="md:flex md:items-center">
      <div class="mx-8 my-4 overflow-hidden home-information-img md:w-1/2">
        <%= image_tag "pic_1", class: "h-full object-cover" %>
      </div>
      <div class="px-2 mx-8 md:w-1/2">
        <h2 class="mb-4 text-2xl">輕鬆架設線上課程網站</h2>
        <p class="mb-4 text-xl">註冊帳號後馬上擁有自己的獨立的課程網站，註冊帳號後馬上擁有自己的獨立的課程網站，註冊帳號後馬上擁有自己的獨立的課程網站，</p>
        <ul>
          <li class="py-3"><i class="text-white bg-red-600 rounded-full fa-solid fa-circle-check"></i>第一點</li>
          <li  class="py-3"><i class="text-white bg-red-600 rounded-full fa-solid fa-circle-check"></i>第二點</li>
          <li  class="py-3"><i class="text-white bg-red-600 rounded-full fa-solid fa-circle-check"></i>第三點</li>
        </ul>
      </div>
    </div>
  </div>
</section>