<div class="relative min-h-screen pt-10 owner-main-container">
  <div class="w-11/12 mx-auto">
		<div class="flex items-center w-full h-16 mt-4">
			<h1 class="inline-block my-4 text-4xl font-extrabold text-primary-300">全部課程留言</h1>
			<div class="w-1/3 mx-4 mr-auto">
				<%= render "shared/flash" %>  
			</div>
      <div class="flex">
				<div class="mt-1 mr-2 font-semibold text-primary-300">選擇課程</div>
        <div>
					<%= form_tag owner_comments_path, method: :get, data: { controller: "order-time"} do%>
					<%= select_tag :course, options_for_select(Course.pluck(:title, :id).unshift(["全部", 0]), @course_option), data: { action: "change->order-time#select"}%>
					<% end %>
				</div>
      </div>
		</div>
		<table class="mt-6 overflow-hidden rounded-md shadow-md owner-table comment-table">
			<thead class="owner-thead">
				<tr>
					<th class="text-left owner-text">留言</th>
					<th class="text-center owner-text">留言者</th>
					<th class="text-center owner-text">課程</th>
					<th class="text-center owner-text">章節/小節</th>
					<th class="text-center owner-text">即時回覆</th>
				</tr>
			</thead>
			<tbody class="owner-tbody" data-controller="comments">
				<% Comment.sort_comments(@courses).each do |comment| %>
					<tr class="transition hover:bg-primary-200">
						<td class="text-left owner-text text-primary-500">
							<span class="overflow-hidden w-44 whitespace-nowrap overflow-ellipsis">
								<%= comment.content %>
							</span>
						</td>
						<td class="text-center owner-text text-primary-500 whitespace-nowrap">
							<% if comment.student.nil? %>
								<%= comment.teacher.username %>
							<% else %>
								<%= comment.student.username %>		
								<span class="px-1 py-1 text-sm text-white rounded-full bg-secondary-300">學生</span>
							<% end %>
						</td>
						<td class="text-center owner-text text-primary-500 whitespace-nowrap">
							<%= comment.course.title %>
						</td>
						<td class="text-center owner-text text-primary-500 whitespace-nowrap">
							<%= comment.section.chapter.title %> / <%= comment.section.title %>
						</td>
						<td class="flex items-center justify-center">
							<button class="tag tag-safe" data-action="click->ajaxForm#toggle">回覆</button>
							<%= link_to owner_comment_path(comment), method: "delete", data: { confirm: "確定刪除此留言嗎？" }, class: "block p-2 text-red-400 hover:text-red-600" do %>
								<svg xmlns="http://www.w3./2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
								</svg>
							<% end %>
						</td>
					</tr>
					<tr class="hidden data-ajaxForm-target="form">
							<td colspan="3"></td>
							<td colspan="2">
								<%= form_with(url: owner_course_section_comments_path(comment.course, comment.section), scope: "comment") do |form|%>
									<input type="hidden" name=comment[parent_id] value="<%= comment.id %>">
									<%= form.text_area :content, placeholder: "在此輸入留言" %>
									<%= form.submit "送出", data: { action: "click->ajaxForm#send" }, class: "owner-course-btn" %>
								<% end %>
							</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
