<h1>您好<%= @student.username %></h1>
<h2>
  您已經成為了
  <%= @teacher.username %>
  的學生了
</h2>

<p>您的登入帳號為: <%= @student.email %></p>
<p>您的登入密碼預設為: 000000</p>


    <%= @teacher.username %>的網站連結 
<h3>
  <a href="https://<%= @teacher.subdomain %>.teacherfly.site/"> https://<%= @teacher.subdomain %>.teacherfly.site </a>
</h3>