<div class="flex justify-between text-white flex-grow mx-auto" data-controller="section-hamburger">
  <%= link_to :back, class: "flex items-center md:ml-20 ml-8 py-4 left-arrow text-xl" do %>
    <i class="mr-4 fa-solid fa-angle-left"></i>
    <span>上一頁</span>
  <% end %>
  <button class="relative hidden mr-20 md:block" data-action="click->section-hamburger#hiddenAvatar">
    <div class="w-10 h-10 overflow-hidden rounded-full">
    </div>
    <ul class="absolute hidden overflow-hidden rounded-md shadow-md text-white bg-primary-300 hover:bg-primary-200 top-full -right-12"  data-section-hamburger-target="avatarButton">
      <li><%= link_to "我的課程", "#" %></li>
      <li><%= link_to "編輯會員資料", "#" %></li>
      <li><%= link_to "登出", destroy_user_session_path, method: :delete %></li>
    </ul>
  </button>
  <button class="relative p-1 mr-8 md:hidden" data-action="click->section-hamburger#hiddenHamburger">
    <div class="w-7 h-0.5 my-1 bg-black"></div>
    <div class="w-7 h-0.5 my-2 bg-black"></div>
    <div class="w-7 h-0.5 my-1 bg-black"></div>
    <ul class="absolute right-0 hidden overflow-hidden rounded-md bg-primary-300 hover:bg-primary-200 mobile-list top-full" data-section-hamburger-target="hamburgerButton">
      <li class="w-10 h-10 p-0 mx-auto mt-4 overflow-hidden rounded-full">
        <%= image_tag "avatar.jpg" %>
      </li>
      <li><%= link_to "我的課程", "#" %></li>
      <li><%= link_to "編輯會員資料", "#" %></li>
      <li><%= link_to "登出", destroy_user_session_path, method: :delete %></li>
    </ul>
  </button>
</div>
