<% if course.sections.count >= 1 %>
<div class="flex w-full px-4 py-4 sm:w-1/2 lg:w-1/3">
  <%= link_to course_path(course), class: "course-card course-card-hover" do %>
    <div class="w-full course-card-image">
      <% if course.image.attached? %>
        <%= image_tag url_for(course.image), class: "w-full h-full object-fit" %>
      <% else %>
        <div>此課程沒有圖片</div>
      <% end %>
    </div>
    <div class="p-6 course-card-main">
      <h2 class="mb-6 text-2xl font-bold text-center"><%= course.title %></h2>
      <p><%= course.description %></p>
    </div>
    <div class="flex items-center justify-between p-3">
      <div class="flex items-center">
        <div class="w-8 h-8 mr-2 overflow-hidden rounded-full">
          <% if course.lecturer.mugshot.attached? %>
            <%= image_tag url_for(course.lecturer.mugshot) %>
          <% else %>
            <div class="flex items-center justify-center w-8 h-8 mr-4 overflow-hidden bg-gray-300 rounded-full">
              <i class="fa-solid fa-user"></i>
            </div>
          <% end %>
        </div>
        <span class="text-sm">講師：<%= Lecturer.find(course.lecturer_id).name %><span><%= " / #{Lecturer.find(course.lecturer_id).nickname}" if Lecturer.find(course.lecturer_id).nickname %></span></span>   
      </div>
      <span class="text-warning-100">
          <% if current_user && current_user.bought?(course) %>
            已完成 <%= Read.read_finished_rate(current_user, course.friendly_id) %>%
          <% else %>
            <%= course.price.zero? ? "Free" : "$ #{course.price}" %>
          <% end %>
      </span>
    </div>
  <% end %>
</div>
<% end %>

