<section class="information">
  <div class="banner">
    <div class="relative banner-bg">
      <%= image_tag url_for(@course.image), class: "w-full h-full object-cover" if @course.image.attached? %>
      <div class="absolute z-10 w-2/3 transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2">
        <h1 class="mb-4 text-5xl font-bold text-center text-white"><%= @course.title %></h1>
        <h2 h2 class="mb-6 text-3xl text-center text-white"><%= @course.description %></h2>
        <div class="flex">
          <% if student_signed_in? && current_student.bought?(@course) %>
            <%= link_to "進入觀看", order_path(@order), class: "inline-block px-6 py-3 mx-auto bg-warning-200 text-white rounded-full hover:bg-warning-100" %>
          <% else %>
              <%= link_to payment_course_orders_path(@course), class: "inline-block px-6 py-3 mx-auto bg-warning-200 text-white rounded-full hover:bg-warning-100" do %>
              <i class="mr-4 fa-solid fa-cart-shopping"></i>現在購買只要$ <%= @course.price %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="absolute top-0 bottom-0 left-0 right-0 bg-black opacity-20"></div>
    </div>
  </div>
  <div class="py-12">
    <h2 class="text-3xl font-bold text-center text-primary-300">課程介紹</h2>
    <div class="w-2/3 mx-auto md:w-1/2">
      <p class="text-xl"><%= markdown(@course.content) %></p>
    </div>
  </div>
  <div class="pt-12 lecturer bg-secondary-100">
    <div class="lecturer-header">
      <h2 class="text-3xl font-bold text-center text-primary-300">課程講師</h2>
    </div>
    <div class="w-2/3 p-8 mx-auto lectuere-info md:flex md:justify-center">
      <div class="lecturer-profile md:mr-16">
        <div class="mx-auto mb-4 overflow-hidden rounded-full lecturer-avatar">
          <% if @lecturer.mugshot.attached? %>
            <%= image_tag url_for(@lecturer.mugshot) %>
          <% else %>
            <div class="flex items-center justify-center w-full h-full text-6xl bg-gray-300">
              <i class="text-gray-600 fa-solid fa-user"></i>
            </div>
          <% end %>
        </div>
        <div class="text-xl font-bold text-center lecturer-name">
          <h3><%= @lecturer.name %></h3>
          <h3><%= @lecturer.nickname %></h3>
        </div>
      </div>
      <div class="p-4 lecturer-experence">
        <ul class="pl-4 mb-4 lecturer-experence-list">
        <%= markdown(@lecturer.content) %>
      </div>
    </div>
  </div>
</section>
<section class="py-8 course">
  <h2 class="mb-8 text-3xl font-bold text-center text-primary-300">課程大綱</h2>
  <div class="chapter-group">
    <%= render partial: "tenant/courses/chapter", collection: @course.chapters %>
  </div>
  <div class="flex justify-center mt-8">
    <% if student_signed_in? && current_student.bought?(@course) %>
      <%= link_to "進入觀看", order_path(@order), class: "inline-block px-6 py-3 mx-auto bg-warning-200 text-white rounded-full hover:bg-warning-100" %>
    <% else %>
      <%= link_to payment_course_orders_path(@course), class: "inline-block px-6 py-3 mx-auto bg-warning-200 text-white rounded-full hover:bg-warning-100" do %>
        <i class="mr-4 fa-solid fa-cart-shopping"></i>現在購買只要$ <%= @course.price %>
      <% end %>
    <% end %>
  </div>
</section>

