<div class="relative h-screen pt-20 teacher-member">
  <div class="container p-4 mx-auto">
    <div class="teacher-member-form">
      <h2 class="teacher-member-form-title">
        <%= t('.sign_in') %>
      </h2>
      <div class="w-full mt-6">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= render "shared/flash" %>
  
          <div class="field">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
  
          <div class="field">
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "current-password" %>
          </div>
  
          <% if devise_mapping.rememberable? %>
            <div class="field form-control-group">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>
  
          <%= f.submit t('.sign_in') %>
        <% end %>
      </div>
      <%= link_to "忘記密碼？", new_password_path(resource_name), class: "teacher-form-link teacher-form-link-self" %>
      <div class="member-footer">還沒有註冊帳號？</div>
      <%= link_to "註冊", new_registration_path(resource_name), class: "teacher-form-link teacher-form-link-self" %>
      <%- resource_class.omniauth_providers.each do |provider| %>
        <%= link_to omniauth_authorize_path(resource_name, provider), method: ":post", class: "teacher-form-link teacher-form-link-google" do %>
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="w-4 h-4 mr-2 " viewBox="0 0 48 48">
            <defs>
              <path id="a" d="M44.5 20H24v8.5h11.8C34.7 33.9 30.1 37 24 37c-7.2 0-13-5.8-13-13s5.8-13 13-13c3.1 0 5.9 1.1 8.1 2.9l6.4-6.4C34.6 4.1 29.6 2 24 2 11.8 2 2 11.8 2 24s9.8 22 22 22c11 0 21-8 21-22 0-1.3-.2-2.7-.5-4z" />
            </defs>
            <clipPath id="b">
              <use xlink:href="#a" overflow="visible" />
            </clipPath>
            <path clip-path="url(#b)" fill="#FBBC05" d="M0 37V11l17 13z" />
            <path clip-path="url(#b)" fill="#EA4335" d="M0 11l17 13 7-6.1L48 14V0H0z" />
            <path clip-path="url(#b)" fill="#34A853" d="M0 37l30-23 7.9 1L48 0v48H0z" />
            <path clip-path="url(#b)" fill="#4285F4" d="M48 48L17 24l-4-3 35-10z" />
          </svg>使用Google登入
        <% end %>
      <% end %>
    </div>
  </div>
</div>
