<!DOCTYPE html>
<html>
  <head>
    <title>Teacherfly</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('logo/logo-icon') %>
  </head>

  <body>
   <header class="fixed z-50 w-full h-16 shadow-md bg-primary-300 text-primary-100">
      <%= render "shared/nav" %>
    </header>
    <main class="main">
      <%= yield %>
    </main>
    <footer class="w-full footer bg-primary-300">
      <%= render "shared/footer"%>
    </footer>
  </body>
</html>
